body{
    font-family: Arial, sans-serif;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #ddd; 
    }
}

.container {
    background-color: rgb(12, 82, 173);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px; 
    margin: 10px auto; 
}
input{
    margin: 5px 0;
    padding: 6px;
    width: calc(100% - 12px);
}
button{
    margin-top: 10px;
    padding: 10px;
    background-color: #77d10f;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom:yellow;

}
button:hover{
    background-color: #2c2424;
    color: #77d10f;
}
.result{
    margin-top: 20px;
    font-weight: bold;
    color: black;
}
label{
    display: block;
    margin: 5px;
    color: black;
}
input[type="number"]{
    width: calc(100% - 22px);
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 4px;
}
.result h2 {
    color: black;
}
h3 {
    color: black;
}
#pace1{
    margin: 20px;
}
#pace2{
    margin: 20px;
}
.hidden{
    display: none;
}
header{
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    background-color: rgb(12, 82, 173);
    color: #77d10f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 50px;
}
nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(12, 82, 173);
    padding: 10px;
    text-align: center;
    z-index: 1000;
}
nav button {
    margin: 0 10px;
    background-color: #77d10f;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    top: 0;
}
.pace-text{
    font-weight: bold;
    color: black;
}
